.button {
    -fx-background-color: #FFB000;
    -fx-background-radius: 50;
}

.ChoiceBox {
    -fx-background-color: transparent;
    -fx-border-radius: 5;
}

.Panel {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 20, 0, 0, 4); /* Efek drop shadow */
}
