.button{
    -fx-backgorund-color : #FFB000;
    -fx-background-radius : 50;
    
}
.ChoiceBox {
    -fx-background-color : transparant;
    -fx-border-radius : 5 5 5 5;
    .Panel {
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Efek drop shadow */
    }
}